body{
  color:green;
  background-image: url("background.jpeg");
}
h1{
  color:white;
}
img{
  width: 70%;
  height: auto;
  border-radius: 25px;
  text-align: center;
  border-width: 20px;
  border-style: groove;
  Border-color: gray;
}

/*NAVBAR*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container p {
  margin-left: 39em;
  padding: 20px;

}

.searchButton{
  background-color: #333;
  color: white;
  font-size: 15px;
  padding: 10px 60px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 25px;
}



.searchField{
  padding: 0.25rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-color: transparent;
  font-size: 1rem;

}

.userInput{
  display: grid;
  justify-content: center;
}

form{
  margin-bottom: 1em;
}

#userRegister{
  width: 75px;
  height: auto;
}

tr{
  justify-self: center;
  line-height: 25px;
}
td{
  text-align: center;
  vertical-align: center;
}

#h1register,#h1login{
  margin-top: 25px;
  margin-bottom: 25px;
}

.cardPrice,.card-price{
  color: white;
  font-weight:600;
  font-size: 20px;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*#card-details>div>img{*/
/*  height: 50%;*/
/*  width: auto;*/
/*}*/
#card-name,#card-id,#card-price{
  display: grid;
  justify-content: center;
}
#card-imageUrl{
  display: grid;
  justify-content: center;
  margin-left: 150px;
}
.card-imageUrl{
  height: 50%;
  width: auto;
  display: grid;
  justify-content: center;
  margin-left: 150px;
}
* {
  box-sizing: border-box;
}

.products img {
  margin: 0.5em 0;

}

.rarity{
  color:white;
  font-size:25px;
  padding: 15px;

}
.center
{
  display: flex;
  justify-content:center;
  align-items:center;
  height: 20vh;
}

td>a, td>label, div>label{
  color: white;
}

div>h1, .cardPrice{
  display: grid;
  justify-content: center;
}
.products-img{
  margin-left: 80px;
}

.productsContainer{
  justify-items: center;
}
.productsContainer>div{
  margin-bottom: 50px;
}

